{% load staticfiles %}

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'  %}"><img src="{% static 'img/top.png' %}"></img>RuTAG I.I.T. Delhi</a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Events'  %}">Events</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Publications'  %}">Publications</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Projects'  %}">Innovative Product Delivery</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'IPD'  %}">Projects</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'News'  %}">Latest Updates</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Collaborators'  %}">Collaborators</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Conferences'  %}">Submissions</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'RuTAG_Club'  %}">RuTAG Club</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about'  %}">About us</a>
          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:articles'  %}">Articles</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:dashboard'  %}">Control panel</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:logout'  %}">Sign Out</a>
          </li>
          {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login'  %}">Login</a>
          </li>
          {% endif %}
     <!--     <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register'  %}">Register</a>
          </li>   -->
          
          </ul>
        </div>
    
    
</nav>