
{% extends "layout.html" %}
{% load staticfiles %}


<html lang="en">
  <head>
    <title>RuTAG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <!--header icon CSS -->
    <link rel="icon" href="{% static '/img/fabicon.png' %}">
    <!-- animations CSS -->
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap1.min.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/animation.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/material-design-iconic-font.min.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">

      <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>

  </head>

  <body>

  <marquee behavior="scroll" direction="left">
Currently all the working of the RuTAG club has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>



  </body>
</html>
