<!DOCTYPE html>

{% extends "layout.html" %}
{% load staticfiles %}

{% block body %}

<html lang="en">
  <head>
    <title>RuTAG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <!--header icon CSS -->
    <link rel="icon" href="{% static '/img/fabicon.png' %}">
    <!-- animations CSS -->
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap1.min.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/animation.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/material-design-iconic-font.min.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
  </head>
<div class="about-area wow fadeInUp v2" id="about">
<div class="space-50"></div>
<center>
                              <h1> Meetings </h1>
</center>

      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>
      <li><a href="">Minutes of Core Group Meeting on August 17, 2016</a></li>


  <p>
          <a href="">Older Meetings</a>
  </p>
<center>
                              <h1> Workshops/Interactive Meetings </h1>
</center>
<p>
      <li><a href="">Regional Workshop at Sagar, Madhya Pradesh on December 4, 2018</a></li>
      <li><a href="">Regional Workshop at Jaipur, Rajasthan on February 23, 2018</a></li>
      <li><a href="">Regional Workshop and Interactive Session at Bikaner, Rajasthan on August 25-26, 2017</a></li>
      <li><a href="">Regional Workshop at Bharatpur, Rajasthan, December 29, 2016</a></li>
      <li><a href="">Regional Workshop at Jabalpur, Madhaya Pradesh, July 28-29, 2016</a></li>
      <li><a href="">Regional Workshop at Society for Rural Industrialization, Ranchi, Jharkhand, November 19-20, 2015</a></li>
      <li><a href="">Regional Workshop at Bhopal, Madhya Pradesh, April 17, 2015</a></li>
      <li><a href="">Regional Workshop at State Resource Centre Jhalana Institutional Area Jaipur, Rajasthan, November 6, 2014</a></li>
      <li><a href="">Regional Workshop at Akhil Bhartiya Vanvasi Kalyan Ashram (ABVKA) Jashpur Nagar, Chhattisgarh, June 03-04, 2014</a></li>
      <li><a href="">Regional Workshop for Haryana, 27th November, 2013</a></li>
</p>

  <p>
          <a href="">Older Workshops</a>
  </p>

    <center>

    <h1>Rural Innovative Technohunt</h1>
    <h5>A Technical Challenge to identify rural problems and suggest solutions</h5>

        </center>

    <h3>Background</h3>
<p>
Rural Technology Action Group (RuTAG)is an initiative of the Office of Principal Scientific Advisor (PSA) to the Government of India. RuTAG was conceived as a mechanism to provide a higher level of S&T intervention and support to address rural problems. It has a presence in several IITs leading to many innovations which aim to technologically support rural India. It has been an endeavour of RuTAG IIT Delhi to involve students in its activities by starting RuTAG club. As part of the club activities, RuTAG is initiating a competition as a Technical Challenge linked to rural problems.
</p>

    <h3>About the Competition</h3>

<p>The competition would be in three stages:
</p>

    <p>Stage 1: Identification of a rural problem and conceptualizing a solution.
    </p>
<p>
    Stage 2: The short-listed concepts will be taken forward to detailed design of the proposed solution.
</p>
    <p>
Stage 3: The selected designs will be funded for prototype development.
</p>

    <p>Themes: Participants in STAGE 1 are required to identify a real-life problem faced in rural India pertaining to any of the following areas:
    </p>

    <li>Agriculture and Animal Husbandry</li>
    <li>Village industries</li>
    <li>Education</li>
    <li>Health</li>
    <li>Energy resources</li>
    <li>Water & sanitation</li>
    <li>Any other relevant areas</li>
<p></p>
    <p>
    Rules:
</p>

<li> This competition is open to only students, faculty and staff (including contractual and out-sourced) of IIT Delhi.</li>

    <li> Those interested can participate individually or in teams of up to 4 participants, with AT LEAST one student (of any programme) in the team.</li>

    <li>The idea presented by a team should be original (not protected by means of patent/copyright/technical publication by anyone else).</li>

    <li>The problem identified should be specific enough so that the proposed solution can involve the development of a product either as hardware or as software.</li>

    <li> All UG student participants selected for stage 3 can request for DPE units. For this, they must register for the same under a faculty as a mentor at the beginning of stage 3.</li>

    <li> All teams qualifying for stage 3 may choose to visit any rural area during their problem-solving stage using a part of the fund of Rs 50,000 meant for prototype development.</li>

    <li>All expenses incurred from the funds provided must be as per the Institute Rules.</li>
<p></p>
    <p>
Expected Outcome:
</p>
<p>
Stage 1: Every participating team would be required to submit a 3-4 page concept note in the following format
</p>
    <li> A clear description of the problem being addressed including the existing solutions (if any) in not more than 2000 words with at most four pictures.</li>

    <li> Proposed methodology to solve the identified problem and how it is better than the existing solutions.</li>

    <li> Conceptual description of the product (hardware or software) which will be part of the proposed solution. If the proposed product is hardware, simple sketches must be included to explain the concept.</li>
<p></p>
    <p>
        Stage 2: The teams whose concepts are shortlisted for stage 2 will need to submit the following:
</p>
If the product involves hardware, the team will need to submit a technical report including the following:
    <li>Description of technical concepts/theories involved in the proposed solution</li>
    <li>Detailed technical specifications and detailed design of the product with all the necessary design calculations.</li>
    <li>Engineering drawings in any CAD software of components, sub-assemblies and assembly along with Bill of Materials.</li>
    <li>An estimate of the cost of fabrication of the prototype</li>
    <li>If the proposed product is in the form of software, the detailed algorithm for the software must be provided with a clear description of how it will be implemented to solve the problem.</li>
<p></p>
    <p>
    Stage 3: The teams selected for stage 3 will be provided funding of up to Rs 50,000 for prototype development in case the product is hardware. For software, no funding will be provided.
</p>

If the product is hardware, the team will be required to develop a working prototype of the same, test it and submit a report including the following:
    <li>Final drawings used for prototype development highlighting the changes from the stage 2 drawings if any.</li>
    <li>Results of the tests and their analysis including uncertainty estimates.</li>
    <li>Problems encountered during prototype development.</li>
<p></p>
If the product is software, the team will be required to submit a functional software with required GUIs, test the software for realistic situations and submit a report including the following.
    <li>Final algorithm used, highlighting the changes from stage 2 if any.</li>
    <li>Results of the tests and their analysis.</li>
    <li>Problems encountered during software development.</li>

    <p>

    </p>
<p>
    EVALUATION
</p>

    <p>
        Submissions at every stage will be judged by a panel of experts. Following are the major parameters of evaluation:
    </p>
    <li>Creativity and Novelty</li>
    <li>Originality</li>
    <li>Appropriateness for rural application</li>
    <li>Potential of Impact</li>
<p></p>
    <p>
        PRIZE
    </p>

    <li> Winners of Stage 3 will be awarded a certificate of appreciation along with a plaque.</li>

    <li>Interested winners of stage 3 may seek a seed grant up to Rs 2 lakhs per project from the Design Innovation Centre of IIT Delhi to carry their idea forward.</li>

    <li>RuTAG, IIT Delhi will also facilitate rural/social internship for Winners of Stage 3 in reputed organisations/Institutions/Universities/Companies in India and abroad.</li>

<p></p>

<h3>REGISTRATION AND ABSTRACT SUBMISSION</h3>
<p>
All the participants are required to register through the following link: Click Here
</p>
    <p>
Important Dates
</p>
    <li>Announcement: 3rd Dec 2018</li>

<li>Registration starts:

    3rd Dec 2018</li>

<li>Last Date of Registration:

    20th Dec 2018</li>

<li>Last Date for Submission of Concept Note (Stage 1):

    31stDec 2018</li>

<li>Short-listing of Concepts for Stage 2:

    15thJan 2019</li>

<li>Last Date for Submission of Detailed Design (Stage 2):

    25th Feb 2019</li>

<li>Presentation on Design Submitted (Evaluation of Stage 2):

    5th Mar 2019</li>

<li>Short-listing of Designs for Stage 3:

    6th March 2019</li>

    <li>Final Submission along with Demonstration</li>

    <li>(Evaluation of Stage 3)</li>


    <li>20th Apr 2019 (Open House)
    </li>

<p>
Contact for Queries: rutagiitdelhi@gmail.com
</p>

<h5>More Information can be found from here:
    <a href="">rutag_competition_2018.pdf</a></h5>
<p></p>
    <p></p>
        <!--footer area start-->
        <div class="footera-area wow fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <div class="logo-area footer">
                                <a href="#"><img src="{% static '/img/logo-top.png' %}" alt=""></a>
                            </div>
                            <div class="space-20"></div>
                            <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific architects called giant larvaceans. </p>
                            <div class="space-10"></div>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <p>Subscribe to our Newsletter</p>
                            <div class="space-20"></div>
                            <div class="footer-form v2">
                                <form action="#">
                                    <input type="email" placeholder="Email Address">
                                    <a href="" class="gradient-btn subscribe">GO</a>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                            </p>
                            <div class="space-20"></div>
                        </div>
                    </div>
<center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG IIT Delhi</center>

                </div>
            </div>
        </div>
        <!--footer area end-->


      <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>
</div>
</html>

{% endblock body %}


