{% extends "layout.html" %}
{% load staticfiles %}
{% block body %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Innovative Product Delivery</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- carousel CSS -->
    <link href="{% static '/css/owl.carousel.min.css' %}" rel="stylesheet">
    <!--header icon CSS -->
    <link href="{% static '/img/fabicon.png' %}" rel="icon">
    <!-- animations CSS -->
    <link href="{% static '/css/animate.min.css' %}" rel="stylesheet">
    <!-- font-awsome CSS -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="{% static '/css/bootstrap1.min.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/animation.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <!-- style CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- responsive CSS -->
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet">


    <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>


</head>
<body>

<p>̥</p>

<marquee behavior="scroll" direction="left">
    Currently all the working of the RuTAG has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and
    keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>
<p></p>
<h3>Checkout our Various Development projects </h3>
w<p>
    A facility has been created by RuTAG IIT Delhi in collaboration with Foundation for Innovation and Technology
    Transfer (FITT) at IIT Delhi under the scheme of “Innovative Product Delivery” to sell the following field tested
    products directly to the hands of the users on payment basis:
</p>

<h2>IIT Delhi Projects</h2>

<div class="single-about-area wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-1.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Animal Driven tractor</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-2.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Batasha Making Process</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-3.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Bullock Driven Tractor</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<p></p>

<div class="single-about-area wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-1.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Carpet Loom</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-2.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Ground Water Level Measuring Device</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-3.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Marble Artefacts</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<p></p>

<div class="single-about-area wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-1.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Tulsi Mala Making Device</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-2.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Sheep Hair Shearing Device</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="single-about" href="#">
                    <div class="single-about-img">
                        <img alt="" src="{% static '/img/about-icon-3.png' %}">
                    </div>
                    <div class="single-about-text">
                        <h4>Treadle Pump</h4>
                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of
                            a not quite tuned in radio station rises and for a while drowns</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<p>
    A Complete account of all the Technologies from 7 IITs with their Prices and ther Technological Impacts is provided
    in our Compendium
<p>
    <a href="" style="color: #00ff00"> RuTAG Compendium </a>
</p>


<p>
    We intend the users to make payment to FITT, IIT Delhi based on the fabrication cost and delivery charge quoted by
    the respective vendor of the above devices. The deposited fund will be utilized by RuTAG IIT Delhi to manufacture
    and deliver the products to the users.
</p>
<p>
    Contact Mr. Raj Kumar Gupta (Email: rutagiitdelhi@gmail.com; Phone No.: 011-2659 1385) to get a quote and receive an
    invoice for payment.
</p>
<p>
    Have a good time with RuTAG products!
</p>

<h5>[<a href="" style="color: #00ff00">List of Buyers</a>]
</h5>

<p></p>

<p></p>

<div class="community-area v2 wow fadeInUp section-padding" id="contact">
    <!--footer area start-->
    <div class="footera-area wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <div class="single-logo-wrapper">
                            <a href="#"><img alt="" src="{% static '/img/logo.png' %}"></a>
                            RuTAG IIT Delhi.
                        </div>
                        <div class="space-20"></div>
                        <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific
                            architects called giant larvaceans. </p>
                        <div class="space-10"></div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>Subscribe to our Newsletter</p>
                        <div class="space-20"></div>
                        <div class="footer-form v2">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <a , class="gradient-btn subscribe" href="" style="color: #00ff00">GO</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                        </p>
                        <div class="space-20"></div>
                    </div>
                </div>
                <center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG
                    IIT Delhi
                </center>

            </div>
        </div>
    </div>
    <!--footer area end-->
</div>


</body>
</html>

{% endblock body %}
