{% extends "layout.html" %}
{% load staticfiles %}
{% block body %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest Updates</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- carousel CSS -->
    <link href="{% static '/css/owl.carousel.min.css' %}" rel="stylesheet">
    <!--header icon CSS -->
    <link href="{% static '/img/fabicon.png' %}" rel="icon">
    <!-- animations CSS -->
    <link href="{% static '/css/animate.min.css' %}" rel="stylesheet">
    <!-- font-awsome CSS -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="{% static '/css/bootstrap1.min.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/animation.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <!-- style CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- responsive CSS -->
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet">


    <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>


</head>
<body>

<p>
    Important updates from RuTAG
</p>
<marquee behavior="scroll" direction="left">
    Currently all the working of the RuTAG has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and
    keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>
<p>
    News Paper Clips
</p>
<p>
    Media coverage of a Design Competition announced by RuTAG IIT Delhi
</p>
<ol type="1">
    <li> IIT design helps rural women in fabrication of beads, Published in The Hindu on July 8, 2019 at Jaipur. For
        more information [<a href="", style="color: #00ff00"><a href="", style="color: #00ff00">Click here</a></a>]
    </li>

    <li> IIT Delhi Initiative Gives A Push To Rural Women Who Make Tulsi Malas. Published in Vrindavan Today on July 12,
        2019. For more information [<a href="", style="color: #00ff00"><a href="", style="color: #00ff00">Click here</a></a>]
    </li>

    <li> IIT-Delhi challenge hopes to solve rural issues via innovation, Published in The Hindu on 11th Decemmber, 2018.
        For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT-Delhi’s design competition aims to solve rural problems, Published in The Indian Express on 26th Decemmber,
        2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> गावं की दिक्कतों के समाधान के लिए परतियोगिता, Published in Hindustan (Hindi) on 11th Decemmber, 2018. For more
        inofrmation <a href="", style="color: #00ff00">Click here</a> [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> ग्रामीण समस्याओं का आई आई टी निकालेगा तकनीकी समाधान, Published in Navodaya Times (Hindi) on 11th Decemmber,
        2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT-Delhi announces competition seeking solutions to rural problems, Published in Careers 360 on 11th
        Decemmber, 2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT-Delhi’s Design Competition Aims To Solve Rural Problems, Published in Business World on 13th Decemmber,
        2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT Delhi announces competition to suggest technical interventions to solve rural problems, Published in
        DigiAnalysys on 12th Decemmber, 2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT Delhi announces "Rural Innovative Technohunt", Published in EduAdvice on 26th Decemmber, 2018. For more
        inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>
</ol>
<p></p>
<p>
    News from Newspapers
</p>
<ol type="1">
    <li> चूड़ी बनाने वालो के लिए आधुनिक भट्टिया बनाई, Published in Rashtradoot on 5th December, 2017,
        epaper.rashtradoot.com//c/24248686. For more Inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> उंच गाँव में अब आधुनिक भट्टियो पर बनेगी हरे रंग की चूड़िया, published in Sunhara Rajasthan, Jaipur on 8-14
        December, 2017. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> आधुनिक भट्टियो पर बन रही हैं हरे रंग की चूड़िया, published in Dainik Nafa Nuksan, Jaipur on 7th December, 2017.
        For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> उंच गाँव में आधुनिक भट्टियो पर बनेगी चूड़िया, published in Amar Ujala, Agara on 5th December, 2017. For more
        inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> उंच गाँव में अब आधुनिक भट्टियो पर बनेगी हरे रंग की चूड़िया, published in Dainik Navajyoti on 5th December, 2017.
        For moe information [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> Modified kiln a boon for bangle makers in Rajasthan, published in The Hindu on 12th December, 2017. For more
        information [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT Design Helps Rural Women in Fabrication of Beads [<a href="", style="color: #00ff00">Click here</a>]</li>

    <li> Modified kilns protect potters from toxic fumes, published in The Hindu on 29th January, 2020. For more
        information [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li>Mobile Vaani [<a href="", style="color: #00ff00">Click here</a>]</li>
</ol>
̥
<div class="community-area v2 wow fadeInUp section-padding" id="contact">
    <!--footer area start-->
    <div class="footera-area wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <div class="single-logo-wrapper">
                            <a href="#"><img alt="" src="{% static '/img/logo.png' %}"></a>
                            RuTAG IIT Delhi.
                        </div>
                        <div class="space-20"></div>
                        <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific
                            architects called giant larvaceans. </p>
                        <div class="space-10"></div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>Subscribe to our Newsletter</p>
                        <div class="space-20"></div>
                        <div class="footer-form v2">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <a class="gradient-btn subscribe" href="", style="color: #00ff00">GO</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                        </p>
                        <div class="space-20"></div>
                    </div>
                </div>
                <center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG
                    IIT Delhi
                </center>

            </div>
        </div>
    </div>
    <!--footer area end-->
</div>

</body>
</html>

{% endblock body %}


