{% extends "Layout.html" %}
{% load staticfiles %}
{% block body %}

<html lang="en">
<head>

    <title>Projects</title>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- carousel CSS -->
    <link href="{% static '/css/owl.carousel.min.css' %}" rel="stylesheet">
    <!--header icon CSS -->
    <link href="{% static '/img/fabicon.png' %}" rel="icon">
    <!-- animations CSS -->
    <link href="{% static '/css/animate.min.css' %}" rel="stylesheet">
    <!-- font-awsome CSS -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="{% static '/css/bootstrap1.min.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/animation.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <!-- style CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- responsive CSS -->
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet">


    <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>

<p></p>

</head>
<marquee behavior="scroll" direction="left">
    Currently all the working of the RuTAG has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and
    keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>

<body>

<!--faq area start-->̥
<div class="faq-area wow fadeInUp v2" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading">
                    <h5>Rural Technologies Redifined by RuTAG</h5>
                    <div class="space-10"></div>
                    <h1>Efficiency, Ergonomics, Economics </h1>
                </div>
                <div class="space-60"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="faq-list">
                    <ul class="nav nav-pills" id="pills-tab">
                        <li><a class="active" data-toggle="pill" href="#one">Developed Technologies</a></li>
                        <li><a data-toggle="pill" href="#two">In Pipeline Technologies</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="one" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-1">
                        <div class="faq-collups">
                            <div id="accordion">

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse1"
                                                    data-toggle="collapse">
                                                Tulsi Mala Beads Making Device
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse1">
                                        <div class="card-body">
                                            <p>In the villages of Brij area (Mathura, Vrindavan) and nearby villages of
                                                Bharatpur, Rajasthan, India,
                                                spherical beads are made from the stems of Holy Basil (Tulsi). Artisans
                                                have devised their own
                                                conventional arrangements for turning, drilling, polishing and cutting
                                                of beads from the stem of Holy
                                                Basil (Tulsi). The process is cumbersome, the productivity is low and
                                                the quality is inconsistent. An
                                                Improved device for making Tulsi Mala beads has been developed at RuTAG
                                                IIT Delhi. </p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 15,000* (including GST @ 18%)
                                                (* This cost does not include freight and installation).</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
                                            </p>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/tulsi_mala_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/tulsi_mala_3.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/tulsi_mala_4.png' %}" style="width:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse2"
                                                    data-toggle="collapse">
                                                Ground Water Level Measuring Device
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse2">
                                        <div class="card-body">
                                            <p>Ground-water Level Measuring Device is an electric switch-type device,
                                                with electrodes having open ends attached to a wire, which is further
                                                connected to a battery and a beeper. When electrodes encounter
                                                conductive fluid, the circuit is completed & buzzing starts and depth is
                                                measured from the marked cable. Commercially available water level
                                                measuring equipment are expensive, hence RuTAG IIT Delhi took the
                                                initiative to design and develop low cost ground water level measuring
                                                device, so that the technology would be accessible rural farmers.</p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 15,000* (including GST @ 18%)
                                                (* This cost does not include freight and installation).</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
                                             </p>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/Ground_water_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Ground_water_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Ground_water_3.png' %}" style="width:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse3"
                                                    data-toggle="collapse">
                                                Bullock Driven Tractor (BDT)
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse3">
                                        <div class="card-body">
                                            <p>Employing bullocks and tractors for agricultural purposes is a
                                                traditional and very conventional method
                                                in India’s rural areas. Efficient harnessing of animal power however
                                                remains ignored with the increase in
                                                use of fossil fuel and electricity. The Rural Technology Action Group
                                                (RuTAG) IIT Delhi took the initiative
                                                for finding solutions to these issues. A better and efficient Bullock
                                                Driven Tractor (BDT) have been
                                                designed. It incorporates mechanism for lifting attachments. It is
                                                lightweight and user friendly.</p>
                                            <p>Tentative Cost of Device with accessories
                                                Tentative Cost of Device is about Rs. 25000 (inclusing GST @ 18%)
                                                * This cost does not include freight and installation
                                            </p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
                                            </p>

                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/BDT_1.jpg' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/BDT_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/adt.jpg' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse4"
                                                    data-toggle="collapse">
                                                Animal Driven Gear Box
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse4">
                                        <div class="card-body">
                                            <p>RuTAG IIT Delhi took an initiative to standardize the Animal Driven Gear
                                                Box (ADGB) and power
                                                transmission system developed by M/S Panchal Pumps &amp; Systems, Kanpur
                                                as animals have proved to be
                                                a renewable, sustainable &amp; holistic source of energy. Standard gear
                                                box &amp; power transmission can be
                                                used to run multiple applications such as Screw Pump, Chaff-Cutter,
                                                Atta-Chakki, and Paddy Thresher.
                                                Lever support is provided to reduce load on bullocks. RuTAG IIT Delhi
                                                Simplified designs with reduced
                                                cost and user-friendliness. The technology is very much appreciated by
                                                small farmers who use bullocks
                                                for farming.</p>
                                            <p>Tentative Cost of Device with accessories
                                                Gear box cost approx. Rs. 45,000; <br/>
                                                Cost of Screw Pump Rs. 45,000;<br/>
                                                Power Transmission System Rs. 22,000;<br/>
                                                Chaff-Cutter Rs. 14,000;<br/>
                                                Atta-Chakki Rs. 14,000;<br/>
                                                Paddy Thresher Rs. 8,000;<br/>
                                                (* This cost does not include freight, installation, GST and other
                                                levies.)</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
</p>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/ADGB_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/ADGB_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/ADGB_3.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse9"
                                                    data-toggle="collapse">
                                                Batasha Making Process
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse9">
                                        <div class="card-body">
                                            <p>Batasha is a sweet dish prepared from sugar. Batasha is mainly used in
                                                festivals, worships and marriages in India. It was found that
                                                traditional batasha making process is tiring (due to squatting sitting
                                                posture of artisan) and unhygienic. Hence, needs improvement
                                                ergonomically. A sliding tray set-up have been developed to improve the
                                                process. The setup is developed towards the ergonomic improvement in the
                                                traditional batasha making process.</p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 15,000* (including GST @ 18%)
                                                (* This cost does not include freight and installation).</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
</p>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/Batasha_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Batasha_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Batasha_3.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link"
                                                    data-target="#collapse10" data-toggle="collapse">
                                                RuTAG Compendium
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse10">
                                        <div class="card-body">
                                            <p>RuTAG Compendium is the book in which ready to disseminate technologies
                                                of all RuTAG
                                                Centres are compiled. This book have 52 rural technology solutions given
                                                by RuTAG Centres. It
                                                explains the problem of previous technology, salient features of the
                                                improved/developed
                                                technology and cost of the improved technology.</p>
                                            <p>Tentative Cost of Device
                                                Tentative cost of RuTAG Compendium is Rs. 400. It is available online
                                                for free and an e-copy can be downloaded
                                                from the following <a href="">link</a>.</p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>

                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/Compendium.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Compendium.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Compendium.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link"
                                                    data-target="#collapse11" data-toggle="collapse">
                                                SAKSHAR-IDTV: A Device to teach children in a funny way
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse11">
                                        <div class="card-body">
                                            <p>
                                                The SAKSHAR-IDTV device uses a projector to produce a virtual display on
                                                a flat surface. For
                                                enabling interaction, the information about a user’s hand movement is
                                                obtained from a single
                                                two-dimensional scanning laser range finder in contrast with a camera
                                                sensor used in many
                                                earlier applications. This system is calibrated to obtain exact
                                                transformation from projected
                                                screen coordinate system to sensor coordinate system. This permits
                                                production of large
                                                interactive displays with minimal cost. Additionally, it makes the
                                                entire system portable, that is,
                                                display can be produced on any planar surface like floor, tabletop, and
                                                so on. The calibration and
                                                its performance have been evaluated by varying screen sizes and the
                                                number of points used for
                                                calibration. The device was successfully calibrated for different
                                                screens. A novel learning-based
                                                methodology for predicting a user’s behavior was then realized to
                                                improve the system’s
                                                performance.
                                            </p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 2.0 Lakhs which includes a Laptop
                                                or PC, an LCD projector, a Hokuyo-Urg
                                                sensor and other accessories plus 18% GST.</p>
                                            <p>Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                                E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/></p>

                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/shakshar.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/shakshar.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/shakshar.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link"
                                                    data-target="#collapse12" data-toggle="collapse">
                                                Sheep Shearing Device
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse12">
                                        <div class="card-body">
                                            <p>
                                                Sheep shearing is the process by which the woollen fleece of a sheep is
                                                removed using hand
                                                scissors or a mechanized device. There are 65 million sheep in India
                                                according to the 19th
                                                Livestock Census which is being carried out by the Department of Animal
                                                Husbandry, Dairying
                                                and Fishing (DADF), Ministry of Agriculture and Farmer Welfare, Govt. of
                                                India. Presently 80%
                                                of the sheep population is shorn by hand scissors. With hand scissors,
                                                the staple length is not
                                                appropriate as per requirement and affects the quality of yarn produced
                                                by this wool. However,
                                                mechanized device can cut the woollen fleece much closer to skin giving
                                                maximum staple length
                                                of the wool which results in good quality yarn. Therefore, IIT Delhi
                                                took an initiative to develop
                                                the device indigenously. IIT Delhi developed a low-cost indigenous
                                                device to boost the
                                                livelihood of the shepherds. The device is light weight and user
                                                friendly.
                                            </p>
                                            <p>Tentative Cost of Device
                                                Tentative cost of the complete set is Rs. 75000. (Includes Handpiece,
                                                Motor, Flexible Drive, 5 sets of
                                                Combs and Cutters, and Grinder).
                                                (* This cost does not include freight, GST and other Levies).</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
</p>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/sheep_shearing_1.jpg' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/sheep_shearing_2.jpg' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/sheep_shearing_3.jpg' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link"
                                                    data-target="#collapse13" data-toggle="collapse">
                                                Human Operated Treadle Pump
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse13">
                                        <div class="card-body">
                                            <p>Treadle pump is a mechanical device which uses human power to draw water
                                                from the ground. It
                                                is a twin-cylinder reciprocating water pump presently being used by
                                                thousands of small/marginal
                                                farmers in various parts of eastern U.P, Bihar, Orissa and other places.
                                                These are particularly
                                                popular in areas where water level is not too low (around 10m or less).
                                                Treadle pump is
                                                improved by RuTAG IIT Delhi, two types of pumps are developed &amp;
                                                modified. Cylinders are
                                                made using M.S. pipe to maintain cylindricity. Movable wooden pedals are
                                                provided to reduce stress
                                                on legs. Handle is provided for support while treadling. Position of
                                                pedals on lever can be adjusted
                                                according to the weight of operator.</p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 15,000* (including GST @ 18%)
                                                (* This cost does not include freight and installation).</p>
                                            <P>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
</P>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/treadle_pump_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/treadle_pump_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/treadle_pump_1.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button  class="btn btn-link"
                                                    data-target="#collapse14" data-toggle="collapse">
                                                Metallic Loom for Carpet Weaving
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse14">
                                        <div class="card-body">
                                            <p>Carpet looms are used for weaving woolen and silk carpets. During weaving
                                                different operations are
                                                carried out, such as tensioning of warp, shading, knotting, cutting, and
                                                beating. For these operations,
                                                some arrangements should be provided. Carpet weaving is the process of
                                                interlacement of warp and
                                                weft in a fabric according to the graphic design. Here, warp means
                                                longitudinal threads that run
                                                parallel to vertical channel whereas, and weft means transverse thread
                                                that run across the fabric. IIT
                                                Delhi had developed metallic carpet loom for woolen and silk carpet
                                                users at several states of India.
                                                Field trials indicate that the designed metallic looms in which one
                                                person can easily give tension in
                                                about 8-10 min.</p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 37,000* (including GST @ 18%)
                                                (* This cost does not include freight and installation).</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/>
</p>
                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/loom_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/loom_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/loom_1.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link"
                                                    data-target="#collapse15" data-toggle="collapse">
                                                Improved Up-draught Pottery Kiln
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#accordion" id="collapse15">
                                        <div class="card-body">
                                            <p>Pottery making is a traditional craft in villages for making clay
                                                utensils and various artifacts.
                                                These furnaces are highly polluting and inefficient. The improved design
                                                of the pottery kiln is
                                                more efficient and less polluting. The improved kiln incorporates a
                                                grate to provide primary air
                                                for combustion, thus minimizing smoke emissions during firing. Air gaps
                                                are introduced through
                                                rat-trap type of wall construction which act as a low-cost insulating
                                                medium that minimizes heat
                                                absorption by the wall or heat loss to the environment. In different
                                                sites, fuel savings of 40-60%
                                                have been achieved with such modifications in the kiln. New kiln design
                                                uses up to 10% fewer
                                                bricks than the traditional kiln. This offset the additional
                                                construction cost of providing a grate
                                                below the firing area. Thus, the new kiln is cheaper than or at most of
                                                the same cost as the
                                                traditional kiln.</p>
                                            <p>Tentative Cost of Device
                                                Tentative Cost of Device is about Rs. 30000* including excavation, brick
                                                masonry and labour charges</p>
                                            <p>
                                            Contact for Purchase <br/>
                                            RuTAG IIT Delhi <br/>
                                            Block-III, Room <br/>
                                            Mechanical Engineering Department, <br/>
                                            IIT Delhi Hauz Khas, New Delhi - 110016 <br/>
                                            Mr. Raj Kumar Gupta / Mr. Davinder Pal Singh <br/>
                                            Contact No. +91-11-2659 1385 <br/>
                                            E-mail: rajkumarddr@gmail.com , davinderiitd@gmail.com <br/></p>

                                            <div class="row">
                                                <div class="column">
                                                    <img src="{% static 'img/Pottery_kiln_1.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Pottery_kiln_2.png' %}" style="width:100%">
                                                </div>
                                                <div class="column">
                                                    <img src="{% static 'img/Pottery_kiln_3.png' %}" style="width:100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="two" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="faq-collups">
                            <div id="parrent2">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse5"
                                                    data-toggle="collapse">
                                                How to trade cryptocurrencies ?
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#parrent2" id="collapse5">
                                        <div class="card-body">
                                            <p>A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a
                                                massive sandstorm slammed into the Chinese capital bringing the latest
                                                airpocalypse to this smog-choked city. Dozens of flights were reportedly
                                                cancelled at Beijing’s airport, the world’s second busiest, and
                                                authorities urged residents to stay indoors after levels of PM10, a tiny
                                                inhalable particle linked to a variety of lung complaints.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse6"
                                                    data-toggle="collapse">
                                                The risks of investing in ICO ?
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#parrent2" id="collapse6">
                                        <div class="card-body">
                                            <p>A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a
                                                massive sandstorm slammed into the Chinese capital bringing the latest
                                                airpocalypse to this smog-choked city. Dozens of flights were reportedly
                                                cancelled at Beijing’s airport, the world’s second busiest, and
                                                authorities urged residents to stay indoors after levels of PM10, a tiny
                                                inhalable particle linked to a variety of lung complaints.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse7"
                                                    data-toggle="collapse">
                                                How to run an ICO ? Why should you invest ?
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#parrent2" id="collapse7">
                                        <div class="card-body">
                                            <p>A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a
                                                massive sandstorm slammed into the Chinese capital bringing the latest
                                                airpocalypse to this smog-choked city. Dozens of flights were reportedly
                                                cancelled at Beijing’s airport, the world’s second busiest, and
                                                authorities urged residents to stay indoors after levels of PM10, a tiny
                                                inhalable particle linked to a variety of lung complaints.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button aria-expanded="false" class="btn btn-link" data-target="#collapse8"
                                                    data-toggle="collapse">
                                                If you could have any kind of pet, what would you choose?
                                            </button>
                                        </h5>
                                    </div>

                                    <div class="collapse" data-parent="#parrent2" id="collapse8">
                                        <div class="card-body">
                                            <p>A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a
                                                massive sandstorm slammed into the Chinese capital bringing the latest
                                                airpocalypse to this smog-choked city. Dozens of flights were reportedly
                                                cancelled at Beijing’s airport, the world’s second busiest, and
                                                authorities urged residents to stay indoors after levels of PM10, a tiny
                                                inhalable particle linked to a variety of lung complaints.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-90"></div>
</div>
<!--faq area end-->


<div class="community-area v2 wow fadeInUp section-padding" id="contact">
    <!--footer area start-->
    <div class="footera-area wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <div class="single-logo-wrapper">
                            <a href="#"><img alt="" src="{% static '/img/logo.png' %}"></a>
                            RuTAG IIT Delhi.
                        </div>
                        <div class="space-20"></div>
                        <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific
                            architects called giant larvaceans. </p>
                        <div class="space-10"></div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>Subscribe to our Newsletter</p>
                        <div class="space-20"></div>
                        <div class="footer-form v2">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <a , class="gradient-btn subscribe" href="" style="color: #00ff00">GO</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                        </p>
                        <div class="space-20"></div>
                    </div>
                </div>
                <center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG
                    IIT Delhi
                </center>

            </div>
        </div>
    </div>
    <!--footer area end-->
</div>


</body>
</html>
{% endblock body %}