{% extends "Layout.html" %}
{% load staticfiles %}
{% block body %}

<html lang="en">
<head>

    <title>Projects</title>


        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <!--header icon CSS -->
    <link rel="icon" href="{% static '/img/fabicon.png' %}">
    <!-- animations CSS -->
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap1.min.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/animation.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/material-design-iconic-font.min.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">


  <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>


</head>
<marquee behavior="scroll" direction="left">
Currently all the working of the RuTAG has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>

<body>
<h1>Projects</h1>
<p></p>
    <h3>In Pipeline</h3>
<ol type="1">
    <li>Design and Development of Efficient and Less Polluting Potters Kiln Furnace</li>
    <li>Dessemination of Low Cost Sheep Hair Shearing Device</li>
    <li>Technology Standardization and Development of Testing-cum-Training Facility for Ultra Micro Hydel Power Package for Rural Application</li>
</ol>
<p></p>
   <h3>Completed</h3>

<ol type="1">
    <li>Ground Water Level Measuring Device[<a href="">Project Documentation</a>]</li>
    <li>Utilization of the Standardized Animal Driven Gear Box for Multiple Rural Applications[<a href="">Project Documentation</a>]</li>
    <li>Facilitating the Use of Fruwash Technology for Extending Shelf Life of Fruits and Vegetables at Pratapgarh Amla Belt[<a href="">Project Documentation</a>]</li>
    <li>Improvement of Furnace for Bangles making and Improving the Working Conditions of Artisans[<a href="">Project Documentation</a>]</li>
    <li>Evaluation and Standardization of Animal Driven Water Pump[<a href="">Project Documentation</a>]</li>
    <li>Development of Biogas Conversion Kit for Diesel Engine[<a href="">Project Documentation</a>]</li>
    <li>Comparative Study of Bullock Driven Tractors[<a href="">Project Documentation</a>]</li>
    <li>Management Development Programme for Rural Enterprises[<a href="">Project Documentation</a>]</li>
    <li>Device for Making Tulsi Mala Beads[<a href="">Project Documentation</a>]</li>
    <li>Technology Package of Garlic Processing for Value Addition[<a href="">Project Documentation</a>]</li>
    <li>Improved Design to Reduce Drudgery in Operation of the Human-operated Treadle Pump for Irrigation[<a href="">Project Documentation</a>]</li>
    <li>Machine for De-husking of Minor Millets[<a href="">Project Documentation</a>]</li>
</ol>


        <!--footer area start-->
        <div class="footera-area wow fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <div class="logo-area footer">
                                <a href="#"><img src="{% static '/img/logo-top.png' %}" alt=""></a>
                            </div>
                            <div class="space-20"></div>
                            <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific architects called giant larvaceans. </p>
                            <div class="space-10"></div>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <p>Subscribe to our Newsletter</p>
                            <div class="space-20"></div>
                            <div class="footer-form v2">
                                <form action="#">
                                    <input type="email" placeholder="Email Address">
                                    <a href="" class="gradient-btn subscribe">GO</a>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                            </p>
                            <div class="space-20"></div>
                        </div>
                    </div>
<center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG IIT Delhi</center>

                </div>
            </div>
        </div>
        <!--footer area end-->

</body>
</html>
{% endblock body %}