{% extends "layout.html" %}
{% load staticfiles %}
{% block body %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest Updates</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- carousel CSS -->
    <link href="{% static '/css/owl.carousel.min.css' %}" rel="stylesheet">
    <!--header icon CSS -->
    <link href="{% static '/img/fabicon.png' %}" rel="icon">
    <!-- animations CSS -->
    <link href="{% static '/css/animate.min.css' %}" rel="stylesheet">
    <!-- font-awsome CSS -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="{% static '/css/bootstrap1.min.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/animation.css' %}" rel="stylesheet">
    <!--css animation-->
    <link href="{% static '/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <!-- style CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- responsive CSS -->
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet">


    <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>


</head>
<body>

<marquee behavior="scroll" direction="left">
    Currently all the working of the RuTAG has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and
    keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>
<p></p>
<h3>Publications</h3>
<h5>2019 (2)</h5>
<li>Saha, S.K. and Ravi M.R., Rural Technology Development and Delivery: RuTAG and Its Synergy with Other Initiatives.
    Springer, 2019. [<a href="", style="color: #00ff00">Full Paper</a>]
</li>

<li>Saha S.K. and Susha Lekshmi S.U., A Compendium on Rural Technology Action Group (RuTAG)- Demand Driven Technologies
    for Rural Entrepreneurship, RuTAG IIT Delhi, 2019. [<a
            href="", style="color: #00ff00">Full Paper</a>]
</li>

<h5>2018 (1)</h5>
<li>Tiwari, P.K., Singh, S.N., Saha, S.K., Singh D.P., "Treadle Pump Operation with Rotary Motion," Springer
    International Publishing AG 2018 P.M. Pawar et al. (eds.), Techno-Societal 2016, DOI 10.1007/978-3-319-53556-2_10. [<a
            href="", style="color: #00ff00">Full paper</a>]
</li>

<h5>2015 (1)</h5>
<li>Gupta, R., Sharma, M., Singh, D. P., Sutar, B., and Saha, S. K., "Women empowerment by technology supported
    manufacturing of beads from Holy Basil," Current Science Journal, V.109, No.9, Nov. [<a
            href="", style="color: #00ff00">Full paper</a>]
</li>
<h5> 2014 (1)</h5>

<li>Bhandari, A.S., Alura, V., Sahu, S., Saha, S. K., Gupta, R.K., "Design Evaluation of an Animal Deiven Prime Mover,"
    Proc. of 11th Nat. Conf. on Industrial Problems on Machines and Mechanisms (IPRoMM-2014), Feb. 26-27, 2014 [<a
            href="", style="color: #00ff00">Full paper</a>]
</li>
<h5>2010 (1)</h5>

<li>Gupta, R.K., Singh, S., Jain, A., Sharma, M., Saha, S.K., "Computer aided analysis of animal driven gear box," Proc.
    of 10th Nat. Conf. on Industrial Problems on Machines and Mechanisms (IPRoMM), MNIT, Jaipur, Dec. 17-18 2010, pp.
    35-38. [<a href="", style="color: #00ff00">Full paper</a>]
</li>

<p></p>
<p></p>
<p></p>

<div class="community-area v2 wow fadeInUp section-padding" id="contact">
    <!--footer area start-->
    <div class="footera-area wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <div class="single-logo-wrapper">
                            <a href="#"><img alt="" src="{% static '/img/logo.png' %}"></a>
                            RuTAG IIT Delhi.
                        </div>
                        <div class="space-20"></div>
                        <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific
                            architects called giant larvaceans. </p>
                        <div class="space-10"></div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>Subscribe to our Newsletter</p>
                        <div class="space-20"></div>
                        <div class="footer-form v2">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <a class="gradient-btn subscribe" href="", style="color: #00ff00">GO</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer">
                        <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                        </p>
                        <div class="space-20"></div>
                    </div>
                </div>
                <center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG
                    IIT Delhi
                </center>

            </div>
        </div>
    </div>
    <!--footer area end-->
</div>

̥

</body>
</html>

{% endblock body %}
