{% extends "layout.html" %}
{% load staticfiles %}

{% block body %}

<html lang="en">
  <head>
    <title>RuTAG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <!--header icon CSS -->
    <link rel="icon" href="{% static '/img/fabicon.png' %}">
    <!-- animations CSS -->
    <link rel="stylesheet" href="{% static '/css/animate.min.css' %}">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap1.min.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/animation.css' %}">
    <!--css animation-->
    <link rel="stylesheet" href="{% static '/css/material-design-iconic-font.min.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
  </head>

  <body>
  <marquee behavior="scroll" direction="left">
Currently all the working of the RuTAG has temporarly been closed due to outbreak of CoVID-19 Virus. Stay safe and keep washing yourselves. Try to maintain social distancing as much as possible.
</marquee>

<div class="about-area wow fadeInUp v2" id="about">
<div id="particles-js"></div>
<div class="space-50"></div>
                              <h1> RuTAG Club </h1>

<p>RuTAG club is an initiative by RuTAG IIT Delhi aimed at creating awareness about social problems among IIT Delhi students. Any student of IITD can join RuTAG club and contribute towards solving rural problems. Club members can select any of the existing RuTAG projects and work on it based on their area of interest. </p>

</div>


<div class="team-bg">

        <!--team area start-->
        <div class="team-area wow fadeInUp section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="heading">
                            <h5>RuTAG Club Members</h5>
                            <div class="space-10"></div>
                            <h1>PhD Students</h1>
                        </div>
                        <div class="space-60"></div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static '/img/superman-1.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Srijan Prabhakar</h3>
                                <div class="space-10"></div>
                                <h6>Club President </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static '/img/superman-2.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Suraj Bhat</h3>
                                <div class="space-10"></div>
                                <h6>Club Secretary(PI) </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-area wow fadeInUp section-padding" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-Center">
                        <div class="heading">
                            <div class="space-10"></div>
                            <h1>Coordinators</h1>
                        </div>
                        <div class="space-60"></div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static '/img/superman-4.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Rutvik Solanki</h3>
                                <div class="space-10"></div>
                                <h6>Coordinator</h6>
                            </div>
                        </div>
                    </div>
                       <div class="col-12 col-md-6 col-lg-3">
                           <div class="single-team">
                               <div class="single-team-img">
                                   <img src="{% static '/img/superman-4.jpg' %}" alt="">
                               </div>
                               <div class="space-30"></div>
                               <div class="single-team-content">
                                   <h3>Nitesh Meena</h3>
                                   <div class="space-10"></div>
                                   <h6>Coordinator</h6>
                               </div>
                           </div>
                       </div>
                       <div class="col-12 col-md-6 col-lg-3">
                           <div class="single-team">
                               <div class="single-team-img">
                                   <img src="{% static '/img/superman-5.jpg' %}" alt="">
                               </div>
                               <div class="space-30"></div>
                               <div class="single-team-content">
                                   <h3>Amit</h3>
                                   <div class="space-10"></div>
                                   <h6>Coordinator</h6>
                               </div>
                           </div>
                       </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single-team">
                            <div class="single-team-img">
                                <img src="{% static '/img/superman-6.jpg' %}" alt="">
                            </div>
                            <div class="space-30"></div>
                            <div class="single-team-content">
                                <h3>Abhishesh</h3>
                                <div class="space-10"></div>
                                <h6>Coordinator</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



        <!--footer area start-->
        <div class="footera-area wow fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <div class="logo-area footer">
                                <a href="#"><img src="{% static '/img/logo-top.png' %}" alt=""></a>
                            </div>
                            <div class="space-20"></div>
                            <p>Swimming hundreds of feet beneath the ocean’s surface in many parts of the world are prolific architects called giant larvaceans. </p>
                            <div class="space-10"></div>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <p>Subscribe to our Newsletter</p>
                            <div class="space-20"></div>
                            <div class="footer-form v2">
                                <form action="#">
                                    <input type="email" placeholder="Email Address">
                                    <a href="" class="gradient-btn subscribe">GO</a>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer">
                            <p>website developed by: Rutvik Solanki (rutvikrj26@gmail.com)
                            </p>
                            <div class="space-20"></div>
                        </div>
                    </div>
<center>All the content in the above website belongs to RuTAG IIT Delhi and All rights reserved by RuTAG IIT Delhi</center>

                </div>
            </div>
        </div>
        <!--footer area end-->

    <!-- jquery 2.2.4 js-->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- popper js-->
    <script src="{% static '/js/popper.js' %}"></script>
    <!-- carousel js-->
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <!-- wow js-->
    <script src="{% static '/js/wow.min.js' %}"></script>
    <!-- bootstrap js-->
    <script src="{% static '/js/bootstrap1.min.js' %}"></script>
    <!--skroller js-->
    <script src="{% static  '/js/skrollr.min.js' %}"></script>
    <!--mobile menu js-->
    <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>
    <!--particle s-->
    <script src="{% static '/js/particles.min.js' %}"></script>
    <!-- main js-->
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>
{% endblock body %}


